extends layout

block content
  h2 Setting
  p 設定ページだよ〜

  form(action="#")
    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      input#sample3.mdl-textfield__input(type="text", value="#{name}", readonly)
      label.mdl-textfield__label(for="sample3") Username
